{
    "objects": [
        [
            {
                "filename": "bcm2835-bootfiles/bootcode.bin",
                "filesystem": "vfat",
                "format?": false,
                "install-condition": "content-diverges",
                "mode": "copy",
                "target": "/dev/disk/by-label/boot",
                "target-path": "/bootcode.bin",
                "target-type": "device"
            },
            {
                "filename": "u-boot.bin",
                "filesystem": "vfat",
                "format?": false,
                "install-condition": "version-diverges",
                "install-condition-pattern-type": "u-boot",
                "mode": "copy",
                "target": "/dev/disk/by-label/boot",
                "target-path": "/kernel.img",
                "target-type": "device"
            },
            {
                "filename": "bcm2835-bootfiles/config.txt",
                "filesystem": "vfat",
                "format?": false,
                "install-condition": "content-diverges",
                "mode": "copy",
                "target": "/dev/disk/by-label/boot",
                "target-path": "/config.txt",
                "target-type": "device"
            },
            {
                "filename": "bcm2835-bootfiles/start.elf",
                "filesystem": "vfat",
                "format?": false,
                "install-condition": "content-diverges",
                "mode": "copy",
                "target": "/dev/disk/by-label/boot",
                "target-path": "/start.elf",
                "target-type": "device"
            },
            {
                "filename": "bcm2835-bootfiles/start_cd.elf",
                "filesystem": "vfat",
                "format?": false,
                "install-condition": "content-diverges",
                "mode": "copy",
                "target": "/dev/disk/by-label/boot",
                "target-path": "/start_cd.elf",
                "target-type": "device"
            },
            {
                "filename": "bcm2835-bootfiles/start_db.elf",
                "filesystem": "vfat",
                "format?": false,
                "install-condition": "content-diverges",
                "mode": "copy",
                "target": "/dev/disk/by-label/boot",
                "target-path": "/start_db.elf",
                "target-type": "device"
            },
            {
                "filename": "bcm2835-bootfiles/start_x.elf",
                "filesystem": "vfat",
                "format?": false,
                "install-condition": "content-diverges",
                "mode": "copy",
                "target": "/dev/disk/by-label/boot",
                "target-path": "/start_x.elf",
                "target-type": "device"
            },
            {
                "filename": "bcm2835-bootfiles/fixup.dat",
                "filesystem": "vfat",
                "format?": false,
                "install-condition": "content-diverges",
                "mode": "copy",
                "target": "/dev/disk/by-label/boot",
                "target-path": "/fixup.dat",
                "target-type": "device"
            },
            {
                "filename": "bcm2835-bootfiles/fixup_cd.dat",
                "filesystem": "vfat",
                "format?": false,
                "install-condition": "content-diverges",
                "mode": "copy",
                "target": "/dev/disk/by-label/boot",
                "target-path": "/fixup_cd.dat",
                "target-type": "device"
            },
            {
                "filename": "bcm2835-bootfiles/fixup_db.dat",
                "filesystem": "vfat",
                "format?": false,
                "install-condition": "content-diverges",
                "mode": "copy",
                "target": "/dev/disk/by-label/boot",
                "target-path": "/fixup_db.dat",
                "target-type": "device"
            },
            {
                "filename": "bcm2835-bootfiles/fixup_x.dat",
                "filesystem": "vfat",
                "format?": false,
                "install-condition": "content-diverges",
                "mode": "copy",
                "target": "/dev/disk/by-label/boot",
                "target-path": "/fixup_x.dat",
                "target-type": "device"
            },
            {
                "filename": "$IMAGE_BASENAME-$MACHINE.tar.xz",
                "filesystem": "ext4",
                "format-options": "-L system_a",
                "format?": true,
                "mode": "tarball",
                "target": "/dev/disk/by-label/system_a",
                "target-path": "/",
                "target-type": "device"
            }
        ],
        [
            {
                "filename": "bcm2835-bootfiles/bootcode.bin",
                "filesystem": "vfat",
                "format?": false,
                "install-condition": "content-diverges",
                "mode": "copy",
                "target": "/dev/disk/by-label/boot",
                "target-path": "/bootcode.bin",
                "target-type": "device"
            },
            {
                "filename": "u-boot.bin",
                "filesystem": "vfat",
                "format?": false,
                "install-condition": "version-diverges",
                "install-condition-pattern-type": "u-boot",
                "mode": "copy",
                "target": "/dev/disk/by-label/boot",
                "target-path": "/kernel.img",
                "target-type": "device"
            },
            {
                "filename": "bcm2835-bootfiles/config.txt",
                "filesystem": "vfat",
                "format?": false,
                "install-condition": "content-diverges",
                "mode": "copy",
                "target": "/dev/disk/by-label/boot",
                "target-path": "/config.txt",
                "target-type": "device"
            },
            {
                "filename": "bcm2835-bootfiles/start.elf",
                "filesystem": "vfat",
                "format?": false,
                "install-condition": "content-diverges",
                "mode": "copy",
                "target": "/dev/disk/by-label/boot",
                "target-path": "/start.elf",
                "target-type": "device"
            },
            {
                "filename": "bcm2835-bootfiles/start_cd.elf",
                "filesystem": "vfat",
                "format?": false,
                "install-condition": "content-diverges",
                "mode": "copy",
                "target": "/dev/disk/by-label/boot",
                "target-path": "/start_cd.elf",
                "target-type": "device"
            },
            {
                "filename": "bcm2835-bootfiles/start_db.elf",
                "filesystem": "vfat",
                "format?": false,
                "install-condition": "content-diverges",
                "mode": "copy",
                "target": "/dev/disk/by-label/boot",
                "target-path": "/start_db.elf",
                "target-type": "device"
            },
            {
                "filename": "bcm2835-bootfiles/start_x.elf",
                "filesystem": "vfat",
                "format?": false,
                "install-condition": "content-diverges",
                "mode": "copy",
                "target": "/dev/disk/by-label/boot",
                "target-path": "/start_x.elf",
                "target-type": "device"
            },
            {
                "filename": "bcm2835-bootfiles/fixup.dat",
                "filesystem": "vfat",
                "format?": false,
                "install-condition": "content-diverges",
                "mode": "copy",
                "target": "/dev/disk/by-label/boot",
                "target-path": "/fixup.dat",
                "target-type": "device"
            },
            {
                "filename": "bcm2835-bootfiles/fixup_cd.dat",
                "filesystem": "vfat",
                "format?": false,
                "install-condition": "content-diverges",
                "mode": "copy",
                "target": "/dev/disk/by-label/boot",
                "target-path": "/fixup_cd.dat",
                "target-type": "device"
            },
            {
                "filename": "bcm2835-bootfiles/fixup_db.dat",
                "filesystem": "vfat",
                "format?": false,
                "install-condition": "content-diverges",
                "mode": "copy",
                "target": "/dev/disk/by-label/boot",
                "target-path": "/fixup_db.dat",
                "target-type": "device"
            },
            {
                "filename": "bcm2835-bootfiles/fixup_x.dat",
                "filesystem": "vfat",
                "format?": false,
                "install-condition": "content-diverges",
                "mode": "copy",
                "target": "/dev/disk/by-label/boot",
                "target-path": "/fixup_x.dat",
                "target-type": "device"
            },
            {
                "filename": "$IMAGE_BASENAME-$MACHINE.tar.xz",
                "filesystem": "ext4",
                "format-options": "-L system_b",
                "format?": true,
                "mode": "tarball",
                "target": "/dev/disk/by-label/system_b",
                "target-path": "/",
                "target-type": "device"
            }
        ]
    ],
    "product": "",
    "supported-hardware": [
        "$MACHINE"
    ],
    "version": null
}
