{
    "objects": [
        [
            {
                "filename": "boot.scr-$MACHINE",
                "filesystem": "vfat",
                "format?": false,
                "install-condition": "content-diverges",
                "mode": "copy",
                "target": "/dev/mmcblk0p1",
                "target-path": "/boot.scr",
                "target-type": "device"
            },
            {
                "filename": "u-boot.bin",
                "filesystem": "vfat",
                "format?": false,
                "install-condition": "content-diverges",
                "mode": "copy",
                "target": "/dev/mmcblk0p1",
                "target-path": "/$SDIMG_KERNELIMAGE",
                "target-type": "device"
            },
            {
                "filename": "bcm2711-rpi-4-b.dtb",
                "filesystem": "vfat",
                "format?": false,
                "install-condition": "content-diverges",
                "mode": "copy",
                "target": "/dev/mmcblk0p1",
                "target-path": "/bcm2711-rpi-4-b.dtb",
                "target-type": "device"
            },
            {
                "filename": "$BOOTFILES_DIR_NAME/bootcode.bin",
                "filesystem": "vfat",
                "format?": false,
                "install-condition": "content-diverges",
                "mode": "copy",
                "target": "/dev/mmcblk0p1",
                "target-path": "/bootcode.bin",
                "target-type": "device"
            },
            {
                "filename": "$BOOTFILES_DIR_NAME/config.txt",
                "filesystem": "vfat",
                "format?": false,
                "install-condition": "content-diverges",
                "mode": "copy",
                "target": "/dev/mmcblk0p1",
                "target-path": "/config.txt",
                "target-type": "device"
            },
            {
                "filename": "$BOOTFILES_DIR_NAME/fixup4cd.dat",
                "filesystem": "vfat",
                "format?": false,
                "install-condition": "content-diverges",
                "mode": "copy",
                "target": "/dev/mmcblk0p1",
                "target-path": "/fixup4cd.dat",
                "target-type": "device"
            },
            {
                "filename": "$BOOTFILES_DIR_NAME/fixup4.dat",
                "filesystem": "vfat",
                "format?": false,
                "install-condition": "content-diverges",
                "mode": "copy",
                "target": "/dev/mmcblk0p1",
                "target-path": "/fixup4.dat",
                "target-type": "device"
            },
            {
                "filename": "$BOOTFILES_DIR_NAME/fixup4db.dat",
                "filesystem": "vfat",
                "format?": false,
                "install-condition": "content-diverges",
                "mode": "copy",
                "target": "/dev/mmcblk0p1",
                "target-path": "/fixup4db.dat",
                "target-type": "device"
            },
            {
                "filename": "$BOOTFILES_DIR_NAME/fixup4x.dat",
                "filesystem": "vfat",
                "format?": false,
                "install-condition": "content-diverges",
                "mode": "copy",
                "target": "/dev/mmcblk0p1",
                "target-path": "/fixup4x.dat",
                "target-type": "device"
            },
            {
                "filename": "$BOOTFILES_DIR_NAME/start4.elf",
                "filesystem": "vfat",
                "format?": false,
                "install-condition": "content-diverges",
                "mode": "copy",
                "target": "/dev/mmcblk0p1",
                "target-path": "/start4.elf",
                "target-type": "device"
            },
            {
                "filename": "$BOOTFILES_DIR_NAME/start4cd.elf",
                "filesystem": "vfat",
                "format?": false,
                "install-condition": "content-diverges",
                "mode": "copy",
                "target": "/dev/mmcblk0p1",
                "target-path": "/start4cd.elf",
                "target-type": "device"
            },
            {
                "filename": "$BOOTFILES_DIR_NAME/start4db.elf",
                "filesystem": "vfat",
                "format?": false,
                "install-condition": "content-diverges",
                "mode": "copy",
                "target": "/dev/mmcblk0p1",
                "target-path": "/start4db.elf",
                "target-type": "device"
            },
            {
                "filename": "$BOOTFILES_DIR_NAME/start4x.elf",
                "filesystem": "vfat",
                "format?": false,
                "install-condition": "content-diverges",
                "mode": "copy",
                "target": "/dev/mmcblk0p1",
                "target-path": "/start4x.elf",
                "target-type": "device"
            },
            {
                "chunk-size": 131072,
                "count": -1,
                "filename": "$IMAGE_BASENAME-$MACHINE.ext4.xz",
                "install-condition": "always",
                "mode": "raw",
                "seek": 0,
                "skip": 0,
                "compressed": true,
                "target": "/dev/mmcblk0p2",
                "target-type": "device",
                "truncate": false
            }
        ],
        [
            {
                "filename": "boot.scr-$MACHINE",
                "filesystem": "vfat",
                "format?": false,
                "install-condition": "content-diverges",
                "mode": "copy",
                "target": "/dev/mmcblk0p1",
                "target-path": "/boot.scr",
                "target-type": "device"
            },
            {
                "filename": "u-boot.bin",
                "filesystem": "vfat",
                "format?": false,
                "install-condition": "content-diverges",
                "mode": "copy",
                "target": "/dev/mmcblk0p1",
                "target-path": "/$SDIMG_KERNELIMAGE",
                "target-type": "device"
            },
            {
                "filename": "bcm2711-rpi-4-b.dtb",
                "filesystem": "vfat",
                "format?": false,
                "install-condition": "content-diverges",
                "mode": "copy",
                "target": "/dev/mmcblk0p1",
                "target-path": "/bcm2711-rpi-4-b.dtb",
                "target-type": "device"
            },
            {
                "filename": "$BOOTFILES_DIR_NAME/bootcode.bin",
                "filesystem": "vfat",
                "format?": false,
                "install-condition": "content-diverges",
                "mode": "copy",
                "target": "/dev/mmcblk0p1",
                "target-path": "/bootcode.bin",
                "target-type": "device"
            },
            {
                "filename": "$BOOTFILES_DIR_NAME/config.txt",
                "filesystem": "vfat",
                "format?": false,
                "install-condition": "content-diverges",
                "mode": "copy",
                "target": "/dev/mmcblk0p1",
                "target-path": "/config.txt",
                "target-type": "device"
            },
            {
                "filename": "$BOOTFILES_DIR_NAME/fixup4cd.dat",
                "filesystem": "vfat",
                "format?": false,
                "install-condition": "content-diverges",
                "mode": "copy",
                "target": "/dev/mmcblk0p1",
                "target-path": "/fixup4cd.dat",
                "target-type": "device"
            },
            {
                "filename": "$BOOTFILES_DIR_NAME/fixup4.dat",
                "filesystem": "vfat",
                "format?": false,
                "install-condition": "content-diverges",
                "mode": "copy",
                "target": "/dev/mmcblk0p1",
                "target-path": "/fixup4.dat",
                "target-type": "device"
            },
            {
                "filename": "$BOOTFILES_DIR_NAME/fixup4db.dat",
                "filesystem": "vfat",
                "format?": false,
                "install-condition": "content-diverges",
                "mode": "copy",
                "target": "/dev/mmcblk0p1",
                "target-path": "/fixup4db.dat",
                "target-type": "device"
            },
            {
                "filename": "$BOOTFILES_DIR_NAME/fixup4x.dat",
                "filesystem": "vfat",
                "format?": false,
                "install-condition": "content-diverges",
                "mode": "copy",
                "target": "/dev/mmcblk0p1",
                "target-path": "/fixup4x.dat",
                "target-type": "device"
            },
            {
                "filename": "$BOOTFILES_DIR_NAME/start4.elf",
                "filesystem": "vfat",
                "format?": false,
                "install-condition": "content-diverges",
                "mode": "copy",
                "target": "/dev/mmcblk0p1",
                "target-path": "/start4.elf",
                "target-type": "device"
            },
            {
                "filename": "$BOOTFILES_DIR_NAME/start4cd.elf",
                "filesystem": "vfat",
                "format?": false,
                "install-condition": "content-diverges",
                "mode": "copy",
                "target": "/dev/mmcblk0p1",
                "target-path": "/start4cd.elf",
                "target-type": "device"
            },
            {
                "filename": "$BOOTFILES_DIR_NAME/start4db.elf",
                "filesystem": "vfat",
                "format?": false,
                "install-condition": "content-diverges",
                "mode": "copy",
                "target": "/dev/mmcblk0p1",
                "target-path": "/start4db.elf",
                "target-type": "device"
            },
            {
                "filename": "$BOOTFILES_DIR_NAME/start4x.elf",
                "filesystem": "vfat",
                "format?": false,
                "install-condition": "content-diverges",
                "mode": "copy",
                "target": "/dev/mmcblk0p1",
                "target-path": "/start4x.elf",
                "target-type": "device"
            },
            {
                "chunk-size": 131072,
                "count": -1,
                "filename": "$IMAGE_BASENAME-$MACHINE.ext4.xz",
                "install-condition": "always",
                "mode": "raw",
                "seek": 0,
                "skip": 0,
                "compressed": true,
                "target": "/dev/mmcblk0p3",
                "target-type": "device",
                "truncate": false
            }
        ]
    ],
    "product": "",
    "supported-hardware": [
        "$MACHINE"
    ],
    "version": null
}
