{
    "objects": [
        [
            {
                "filename": "u-boot.bin",
                "filesystem": "vfat",
                "format?": false,
                "install-condition": "content-diverges",
                "mode": "copy",
                "target": "/dev/disk/by-label/boot",
                "target-path": "/$SDIMG_KERNELIMAGE",
                "target-type": "device"
            },
            {
                "filename": "bcm2711-rpi-4-b.dtb",
                "filesystem": "vfat",
                "format?": false,
                "install-condition": "content-diverges",
                "mode": "copy",
                "target": "/dev/disk/by-label/boot",
                "target-path": "/bcm2711-rpi-4-b.dtb",
                "target-type": "device"
            },
            {
                "filename": "bcm2835-bootfiles/bootcode.bin",
                "filesystem": "vfat",
                "format?": false,
                "install-condition": "content-diverges",
                "mode": "copy",
                "target": "/dev/disk/by-label/boot",
                "target-path": "/bootcode.bin",
                "target-type": "device"
            },
            {
                "filename": "bcm2835-bootfiles/config.txt",
                "filesystem": "vfat",
                "format?": false,
                "install-condition": "content-diverges",
                "mode": "copy",
                "target": "/dev/disk/by-label/boot",
                "target-path": "/config.txt",
                "target-type": "device"
            },
            {
                "filename": "bcm2835-bootfiles/fixup4cd.dat",
                "filesystem": "vfat",
                "format?": false,
                "install-condition": "content-diverges",
                "mode": "copy",
                "target": "/dev/disk/by-label/boot",
                "target-path": "/fixup4cd.dat",
                "target-type": "device"
            },
            {
                "filename": "bcm2835-bootfiles/fixup4.dat",
                "filesystem": "vfat",
                "format?": false,
                "install-condition": "content-diverges",
                "mode": "copy",
                "target": "/dev/disk/by-label/boot",
                "target-path": "/fixup4.dat",
                "target-type": "device"
            },
            {
                "filename": "bcm2835-bootfiles/fixup4db.dat",
                "filesystem": "vfat",
                "format?": false,
                "install-condition": "content-diverges",
                "mode": "copy",
                "target": "/dev/disk/by-label/boot",
                "target-path": "/fixup4db.dat",
                "target-type": "device"
            },
            {
                "filename": "bcm2835-bootfiles/fixup4x.dat",
                "filesystem": "vfat",
                "format?": false,
                "install-condition": "content-diverges",
                "mode": "copy",
                "target": "/dev/disk/by-label/boot",
                "target-path": "/fixup4x.dat",
                "target-type": "device"
            },
            {
                "filename": "bcm2835-bootfiles/start4.elf",
                "filesystem": "vfat",
                "format?": false,
                "install-condition": "content-diverges",
                "mode": "copy",
                "target": "/dev/disk/by-label/boot",
                "target-path": "/start4.elf",
                "target-type": "device"
            },
            {
                "filename": "bcm2835-bootfiles/start4cd.elf",
                "filesystem": "vfat",
                "format?": false,
                "install-condition": "content-diverges",
                "mode": "copy",
                "target": "/dev/disk/by-label/boot",
                "target-path": "/start4cd.elf",
                "target-type": "device"
            },
            {
                "filename": "bcm2835-bootfiles/start4db.elf",
                "filesystem": "vfat",
                "format?": false,
                "install-condition": "content-diverges",
                "mode": "copy",
                "target": "/dev/disk/by-label/boot",
                "target-path": "/start4db.elf",
                "target-type": "device"
            },
            {
                "filename": "bcm2835-bootfiles/start4x.elf",
                "filesystem": "vfat",
                "format?": false,
                "install-condition": "content-diverges",
                "mode": "copy",
                "target": "/dev/disk/by-label/boot",
                "target-path": "/start4x.elf",
                "target-type": "device"
            },
            {
                "filename": "$IMAGE_BASENAME-$MACHINE.tar.lzma",
                "filesystem": "ext4",
                "format-options": "-L system_a",
                "format?": true,
                "mode": "tarball",
                "target": "/dev/disk/by-label/system_a",
                "target-path": "/",
                "target-type": "device"
            }
        ],
        [
            {
                "filename": "u-boot.bin",
                "filesystem": "vfat",
                "format?": false,
                "install-condition": "content-diverges",
                "mode": "copy",
                "target": "/dev/disk/by-label/boot",
                "target-path": "/$SDIMG_KERNELIMAGE",
                "target-type": "device"
            },
            {
                "filename": "bcm2711-rpi-4-b.dtb",
                "filesystem": "vfat",
                "format?": false,
                "install-condition": "content-diverges",
                "mode": "copy",
                "target": "/dev/disk/by-label/boot",
                "target-path": "/bcm2711-rpi-4-b.dtb",
                "target-type": "device"
            },
            {
                "filename": "bcm2835-bootfiles/bootcode.bin",
                "filesystem": "vfat",
                "format?": false,
                "install-condition": "content-diverges",
                "mode": "copy",
                "target": "/dev/disk/by-label/boot",
                "target-path": "/bootcode.bin",
                "target-type": "device"
            },
            {
                "filename": "bcm2835-bootfiles/config.txt",
                "filesystem": "vfat",
                "format?": false,
                "install-condition": "content-diverges",
                "mode": "copy",
                "target": "/dev/disk/by-label/boot",
                "target-path": "/config.txt",
                "target-type": "device"
            },
            {
                "filename": "bcm2835-bootfiles/fixup4cd.dat",
                "filesystem": "vfat",
                "format?": false,
                "install-condition": "content-diverges",
                "mode": "copy",
                "target": "/dev/disk/by-label/boot",
                "target-path": "/fixup4cd.dat",
                "target-type": "device"
            },
            {
                "filename": "bcm2835-bootfiles/fixup4.dat",
                "filesystem": "vfat",
                "format?": false,
                "install-condition": "content-diverges",
                "mode": "copy",
                "target": "/dev/disk/by-label/boot",
                "target-path": "/fixup4.dat",
                "target-type": "device"
            },
            {
                "filename": "bcm2835-bootfiles/fixup4db.dat",
                "filesystem": "vfat",
                "format?": false,
                "install-condition": "content-diverges",
                "mode": "copy",
                "target": "/dev/disk/by-label/boot",
                "target-path": "/fixup4db.dat",
                "target-type": "device"
            },
            {
                "filename": "bcm2835-bootfiles/fixup4x.dat",
                "filesystem": "vfat",
                "format?": false,
                "install-condition": "content-diverges",
                "mode": "copy",
                "target": "/dev/disk/by-label/boot",
                "target-path": "/fixup4x.dat",
                "target-type": "device"
            },
            {
                "filename": "bcm2835-bootfiles/start4.elf",
                "filesystem": "vfat",
                "format?": false,
                "install-condition": "content-diverges",
                "mode": "copy",
                "target": "/dev/disk/by-label/boot",
                "target-path": "/start4.elf",
                "target-type": "device"
            },
            {
                "filename": "bcm2835-bootfiles/start4cd.elf",
                "filesystem": "vfat",
                "format?": false,
                "install-condition": "content-diverges",
                "mode": "copy",
                "target": "/dev/disk/by-label/boot",
                "target-path": "/start4cd.elf",
                "target-type": "device"
            },
            {
                "filename": "bcm2835-bootfiles/start4db.elf",
                "filesystem": "vfat",
                "format?": false,
                "install-condition": "content-diverges",
                "mode": "copy",
                "target": "/dev/disk/by-label/boot",
                "target-path": "/start4db.elf",
                "target-type": "device"
            },
            {
                "filename": "bcm2835-bootfiles/start4x.elf",
                "filesystem": "vfat",
                "format?": false,
                "install-condition": "content-diverges",
                "mode": "copy",
                "target": "/dev/disk/by-label/boot",
                "target-path": "/start4x.elf",
                "target-type": "device"
            },
            {
                "filename": "$IMAGE_BASENAME-$MACHINE.tar.lzma",
                "filesystem": "ext4",
                "format-options": "-L system_b",
                "format?": true,
                "mode": "tarball",
                "target": "/dev/disk/by-label/system_b",
                "target-path": "/",
                "target-type": "device"
            }
        ]
    ],
    "product": "",
    "supported-hardware": [
        "$MACHINE"
    ],
    "version": null
}
