{
    "objects": [
        [
            {
                "filename": "boot.scr-$MACHINE",
                "filesystem": "vfat",
                "format?": false,
                "install-condition": "content-diverges",
                "mode": "copy",
                "target": "/dev/disk/by-label/boot",
                "target-path": "/boot.scr",
                "target-type": "device"
            },
            {
                "filename": "$BOOTFILES_DIR_NAME/bootcode.bin",
                "filesystem": "vfat",
                "format?": false,
                "install-condition": "content-diverges",
                "mode": "copy",
                "target": "/dev/disk/by-label/boot",
                "target-path": "/bootcode.bin",
                "target-type": "device"
            },
            {
                "filename": "u-boot.bin",
                "filesystem": "vfat",
                "format?": false,
                "install-condition": "content-diverges",
                "mode": "copy",
                "target": "/dev/disk/by-label/boot",
                "target-path": "/$SDIMG_KERNELIMAGE",
                "target-type": "device"
            },
            {
                "filename": "bcm2708-rpi-zero-w.dtb",
                "filesystem": "vfat",
                "format?": false,
                "install-condition": "content-diverges",
                "mode": "copy",
                "target": "/dev/disk/by-label/boot",
                "target-path": "/bcm2708-rpi-zero-w.dtb",
                "target-type": "device"
            },
            {
                "filename": "$BOOTFILES_DIR_NAME/config.txt",
                "filesystem": "vfat",
                "format?": false,
                "install-condition": "content-diverges",
                "mode": "copy",
                "target": "/dev/disk/by-label/boot",
                "target-path": "/config.txt",
                "target-type": "device"
            },
            {
                "filename": "$BOOTFILES_DIR_NAME/start.elf",
                "filesystem": "vfat",
                "format?": false,
                "install-condition": "content-diverges",
                "mode": "copy",
                "target": "/dev/disk/by-label/boot",
                "target-path": "/start.elf",
                "target-type": "device"
            },
            {
                "filename": "$BOOTFILES_DIR_NAME/start_cd.elf",
                "filesystem": "vfat",
                "format?": false,
                "install-condition": "content-diverges",
                "mode": "copy",
                "target": "/dev/disk/by-label/boot",
                "target-path": "/start_cd.elf",
                "target-type": "device"
            },
            {
                "filename": "$BOOTFILES_DIR_NAME/start_db.elf",
                "filesystem": "vfat",
                "format?": false,
                "install-condition": "content-diverges",
                "mode": "copy",
                "target": "/dev/disk/by-label/boot",
                "target-path": "/start_db.elf",
                "target-type": "device"
            },
            {
                "filename": "$BOOTFILES_DIR_NAME/start_x.elf",
                "filesystem": "vfat",
                "format?": false,
                "install-condition": "content-diverges",
                "mode": "copy",
                "target": "/dev/disk/by-label/boot",
                "target-path": "/start_x.elf",
                "target-type": "device"
            },
            {
                "filename": "$BOOTFILES_DIR_NAME/fixup.dat",
                "filesystem": "vfat",
                "format?": false,
                "install-condition": "content-diverges",
                "mode": "copy",
                "target": "/dev/disk/by-label/boot",
                "target-path": "/fixup.dat",
                "target-type": "device"
            },
            {
                "filename": "$BOOTFILES_DIR_NAME/fixup_cd.dat",
                "filesystem": "vfat",
                "format?": false,
                "install-condition": "content-diverges",
                "mode": "copy",
                "target": "/dev/disk/by-label/boot",
                "target-path": "/fixup_cd.dat",
                "target-type": "device"
            },
            {
                "filename": "$BOOTFILES_DIR_NAME/fixup_db.dat",
                "filesystem": "vfat",
                "format?": false,
                "install-condition": "content-diverges",
                "mode": "copy",
                "target": "/dev/disk/by-label/boot",
                "target-path": "/fixup_db.dat",
                "target-type": "device"
            },
            {
                "filename": "$BOOTFILES_DIR_NAME/fixup_x.dat",
                "filesystem": "vfat",
                "format?": false,
                "install-condition": "content-diverges",
                "mode": "copy",
                "target": "/dev/disk/by-label/boot",
                "target-path": "/fixup_x.dat",
                "target-type": "device"
            },
            {
                "filename": "$IMAGE_BASENAME-$MACHINE.tar.lzma",
                "filesystem": "ext4",
                "format-options": "-L system_a",
                "format?": true,
                "mode": "tarball",
                "target": "/dev/disk/by-label/system_a",
                "target-path": "/",
                "target-type": "device"
            }
        ],
        [
            {
                "filename": "boot.scr-$MACHINE",
                "filesystem": "vfat",
                "format?": false,
                "install-condition": "content-diverges",
                "mode": "copy",
                "target": "/dev/disk/by-label/boot",
                "target-path": "/boot.scr",
                "target-type": "device"
            },
            {
                "filename": "$BOOTFILES_DIR_NAME/bootcode.bin",
                "filesystem": "vfat",
                "format?": false,
                "install-condition": "content-diverges",
                "mode": "copy",
                "target": "/dev/disk/by-label/boot",
                "target-path": "/bootcode.bin",
                "target-type": "device"
            },
            {
                "filename": "u-boot.bin",
                "filesystem": "vfat",
                "format?": false,
                "install-condition": "content-diverges",
                "mode": "copy",
                "target": "/dev/disk/by-label/boot",
                "target-path": "/$SDIMG_KERNELIMAGE",
                "target-type": "device"
            },
            {
                "filename": "bcm2708-rpi-zero-w.dtb",
                "filesystem": "vfat",
                "format?": false,
                "install-condition": "content-diverges",
                "mode": "copy",
                "target": "/dev/disk/by-label/boot",
                "target-path": "/bcm2708-rpi-zero-w.dtb",
                "target-type": "device"
            },
            {
                "filename": "$BOOTFILES_DIR_NAME/config.txt",
                "filesystem": "vfat",
                "format?": false,
                "install-condition": "content-diverges",
                "mode": "copy",
                "target": "/dev/disk/by-label/boot",
                "target-path": "/config.txt",
                "target-type": "device"
            },
            {
                "filename": "$BOOTFILES_DIR_NAME/start.elf",
                "filesystem": "vfat",
                "format?": false,
                "install-condition": "content-diverges",
                "mode": "copy",
                "target": "/dev/disk/by-label/boot",
                "target-path": "/start.elf",
                "target-type": "device"
            },
            {
                "filename": "$BOOTFILES_DIR_NAME/start_cd.elf",
                "filesystem": "vfat",
                "format?": false,
                "install-condition": "content-diverges",
                "mode": "copy",
                "target": "/dev/disk/by-label/boot",
                "target-path": "/start_cd.elf",
                "target-type": "device"
            },
            {
                "filename": "$BOOTFILES_DIR_NAME/start_db.elf",
                "filesystem": "vfat",
                "format?": false,
                "install-condition": "content-diverges",
                "mode": "copy",
                "target": "/dev/disk/by-label/boot",
                "target-path": "/start_db.elf",
                "target-type": "device"
            },
            {
                "filename": "$BOOTFILES_DIR_NAME/start_x.elf",
                "filesystem": "vfat",
                "format?": false,
                "install-condition": "content-diverges",
                "mode": "copy",
                "target": "/dev/disk/by-label/boot",
                "target-path": "/start_x.elf",
                "target-type": "device"
            },
            {
                "filename": "$BOOTFILES_DIR_NAME/fixup.dat",
                "filesystem": "vfat",
                "format?": false,
                "install-condition": "content-diverges",
                "mode": "copy",
                "target": "/dev/disk/by-label/boot",
                "target-path": "/fixup.dat",
                "target-type": "device"
            },
            {
                "filename": "$BOOTFILES_DIR_NAME/fixup_cd.dat",
                "filesystem": "vfat",
                "format?": false,
                "install-condition": "content-diverges",
                "mode": "copy",
                "target": "/dev/disk/by-label/boot",
                "target-path": "/fixup_cd.dat",
                "target-type": "device"
            },
            {
                "filename": "$BOOTFILES_DIR_NAME/fixup_db.dat",
                "filesystem": "vfat",
                "format?": false,
                "install-condition": "content-diverges",
                "mode": "copy",
                "target": "/dev/disk/by-label/boot",
                "target-path": "/fixup_db.dat",
                "target-type": "device"
            },
            {
                "filename": "$BOOTFILES_DIR_NAME/fixup_x.dat",
                "filesystem": "vfat",
                "format?": false,
                "install-condition": "content-diverges",
                "mode": "copy",
                "target": "/dev/disk/by-label/boot",
                "target-path": "/fixup_x.dat",
                "target-type": "device"
            },
            {
                "filename": "$IMAGE_BASENAME-$MACHINE.tar.lzma",
                "filesystem": "ext4",
                "format-options": "-L system_b",
                "format?": true,
                "mode": "tarball",
                "target": "/dev/disk/by-label/system_b",
                "target-path": "/",
                "target-type": "device"
            }
        ]
    ],
    "product": "",
    "supported-hardware": [
        "$MACHINE"
    ],
    "version": null
}
