{
    "objects": [
        [
            {
                "filename": "bcm2835-bootfiles/bootcode.bin",
                "filesystem": "vfat",
                "format?": false,
                "install-condition": "content-diverges",
                "mode": "copy",
                "target": "/dev/mmcblk0p1",
                "target-path": "/bootcode.bin",
                "target-type": "device"
            },
            {
                "filename": "u-boot.bin",
                "filesystem": "vfat",
                "format?": false,
                "install-condition": "version-diverges",
                "install-condition-pattern-type": "u-boot",
                "mode": "copy",
                "target": "/dev/mmcblk0p1",
                "target-path": "/kernel.img",
                "target-type": "device"
            },
            {
                "filename": "bcm2835-bootfiles/config.txt",
                "filesystem": "vfat",
                "format?": false,
                "install-condition": "content-diverges",
                "mode": "copy",
                "target": "/dev/mmcblk0p1",
                "target-path": "/config.txt",
                "target-type": "device"
            },
            {
                "filename": "bcm2835-bootfiles/start.elf",
                "filesystem": "vfat",
                "format?": false,
                "install-condition": "content-diverges",
                "mode": "copy",
                "target": "/dev/mmcblk0p1",
                "target-path": "/start.elf",
                "target-type": "device"
            },
            {
                "filename": "$IMAGE_BASENAME-$MACHINE.tar.xz",
                "filesystem": "ext4",
                "format?": true,
                "mode": "tarball",
                "target": "/dev/mmcblk0p2",
                "target-path": "/",
                "target-type": "device"
            }
        ],
        [
            {
                "filename": "bcm2835-bootfiles/bootcode.bin",
                "filesystem": "vfat",
                "format?": false,
                "install-condition": "content-diverges",
                "mode": "copy",
                "target": "/dev/mmcblk0p1",
                "target-path": "/bootcode.bin",
                "target-type": "device"
            },
            {
                "filename": "u-boot.bin",
                "filesystem": "vfat",
                "format?": false,
                "install-condition": "version-diverges",
                "install-condition-pattern-type": "u-boot",
                "mode": "copy",
                "target": "/dev/mmcblk0p1",
                "target-path": "/kernel.img",
                "target-type": "device"
            },
            {
                "filename": "bcm2835-bootfiles/config.txt",
                "filesystem": "vfat",
                "format?": false,
                "install-condition": "content-diverges",
                "mode": "copy",
                "target": "/dev/mmcblk0p1",
                "target-path": "/config.txt",
                "target-type": "device"
            },
            {
                "filename": "bcm2835-bootfiles/start.elf",
                "filesystem": "vfat",
                "format?": false,
                "install-condition": "content-diverges",
                "mode": "copy",
                "target": "/dev/mmcblk0p1",
                "target-path": "/start.elf",
                "target-type": "device"
            },
            {
                "filename": "$IMAGE_BASENAME-$MACHINE.tar.xz",
                "filesystem": "ext4",
                "format?": true,
                "mode": "tarball",
                "target": "/dev/mmcblk0p3",
                "target-path": "/",
                "target-type": "device"
            }
        ]
    ],
    "product": "",
    "supported-hardware": [
        "$MACHINE"
    ],
    "version": null
}
